<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
        integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <link href="../assets/styles/index.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../img/linea-de-pulso.png" />

    <title>Sistema Gestion de Citas</title>
</head>


<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1ABC9C;">

            <ul class="nav nav-tabs">

                <li class="nav-item mx-2">
                    <img src="../img/linea-de-pulso.png" style="max-width:3.8rem ; max-height: ;">
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" href="./crear-cita.html">Mis citas</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" data-bs-toggle="tab" href="#">Historial Clinico</a>
                </li>
                <div class="dropdown mx-2">
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Mi perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="./perfil.html">ver mi perfil</a>
                        </li>
                        <li><a class="dropdown-item" href="./index.html">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </header>
    <h4 class="mt-5 pt-5 d-flex justify-content-center">Disponible hasta que se agregue el Usuario Doctor</h4>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js "
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/ "
        crossorigin="anonymous "></script>
</body>

</html>

</html>